* {
    margin: 0;
}

.nadpis {
    color: rgb(79, 70, 229);
    padding-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nvm {
    color: rgb(99, 102, 241);
    padding-top: 4%;
    padding-left: 3%;

}

.np {
    padding-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pn {
    padding-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.dov {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.nost {
    margin: 1%;
    background-color:rgb(238,242,255);
    width: 85%;
    display: flex;
    justify-content: center;
    padding: 4%;
  border-radius: 10%;
 margin-left: 3%;
 margin-right: 3%;
}
.kon{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 3%;
}
a {
  color: blue;        
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}
p {
  line-height: 24px;
}